@font-face {
    font-family: 'Blokk';
    font-style:  normal;
    font-weight: 400;
    src: url("/assets/font/shared/blokk/BLOKK-Regular.woff") format("woff");
}
@font-face {
    font-family: 'BlokkNeue';
    font-style:  normal;
    font-weight: 400;
    src: url("/assets/font/shared/blokk/BLOKKNeue-Regular.woff") format("woff");
}
@font-face {
    font-family: 'FranklinGothic';
    font-style:  normal;
    font-weight: 400;
    src: url("/assets/font/shared/franklin_gothic/FranklinGothic-MedCd-webfont.woff") format("woff");
}
@font-face {
    font-family: 'LeagueGothic';
    font-style:  normal;
    font-weight: 400;
    src: url("/assets/font/shared/franklin_gothic/League_Gothic-webfont.woff") format("woff");
}
