.ease-linear {
    transition-timing-function: linear
}

.ease-in {
    transition-timing-function: cubic-bezier(.4, 0, 1, 1)
}

.ease-out {
    transition-timing-function: cubic-bezier(0, 0, .2, 1)
}

.ease-in-out {
    transition-timing-function: cubic-bezier(.4, 0, .2, 1)
}

.transition-fastest {
    transition-duration: 75ms
}

.transition-faster {
    transition-duration: .1s
}

.transition-fast {
    transition-duration: .15s
}

.transition-medium {
    transition-duration: .2s
}

.transition-slow {
    transition-duration: .3s
}

.transition-slower {
    transition-duration: .5s
}

.transition-slowest {
    transition-duration: .7s
}

.transition-all {
    transition-property: all
}

.transition-opacity {
    transition-property: opacity
}

.transition-transform {
    transition-property: transform
}

.translate-x-full {
    transform: translateX(100%)
}

.translate-x-0 {
    transform: translateX(0)
}

.scale-90 {
    transform: scale(.9)
}

.scale-100 {
    transform: scale(1)
}

.origin-top {
    transform-origin: top
}

.origin-top-right {
    transform-origin: top right
}

.origin-right {
    transform-origin: right
}

.origin-bottom-right {
    transform-origin: bottom right
}

.origin-bottom {
    transform-origin: bottom
}

.origin-bottom-left {
    transform-origin: bottom left
}

.origin-left {
    transform-origin: left
}

.origin-top-left {
    transform-origin: top left
}



//
.router-enter-active,
.router-leave-active {
    transition: opacity 150ms
}

.router-enter,
.router-leave-active {
    opacity: 0
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 250ms
}

.fade-enter,
.fade-leave-active {
    opacity: 0
}



.slide-fade-enter-active {
    transition: all .3s ease;
}
.slide-fade-leave-active {
    transition: all .2s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to {
    transform: translateY(10px);
    opacity: 0;
}



.slide-x-fade-enter-active {
    transition: all .3s ease;
}
.slide-x-fade-leave-active {
    transition: all .2s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-x-fade-enter, .slide-x-fade-leave-to {
    transform: translateX(10px);
    opacity: 0;
}
